<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method='post' enctype="multipart/form-data">
    <p><big><center><b>Log in to your account</b></center></big></p><br>
    <center>UserName : <input id="uname" name="uname" type="text" placeholder="Username" required /><br><br></center>
    <center>Password :<input id="pass" name="pass" type="password" placeholder="password" required /><br><br></center>
    <center><input type='submit' value='Login'></center>
</form>

</body>
</html>
